<.flash_group flash={@flash} />
<section class="flex flex-col items-center">
  <h1 class="text-7xl">Eat clean. Eat easy</h1>
  <div class="flex gap-2">
    <p class="relative top-8 text-xl">with</p>
     <img src={~p"/images/logo.png"} width="96" />
  </div>
  <button class="text-2xl bg-black text-white rounded-full px-8 py-2">Get started</button>
</section>

